html, body {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}
/* .grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: blue;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-gap: 0.25%;
} */
.grid {
    display: grid;
    /* grid-template-columns: repeat(10, 1fr); */
    /* grid-template-rows: repeat(6, 1fr)); */
    background-color: blue;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-gap: 0.25%;
    grid-template-areas:
    "a a b b d d d d e e"
    "a a f g d d d d e e"
    "h h i i d d d d j k"
    "h h i i d d d d l m"
    "n o p p q q q q r r"
    "s t p p q q q q r r";
}
.img {
  object-fit: cover;
  object-position: center;
  max-width: 100%;
    min-height: auto;
    min-width: auto;
  /* height: 90%; */
}
/* .grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr);
    grid-template-rows: repeat(6, 150px);
    background-color: blue;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-gap: 0.25%;
} */
.a,.b,.c,.d,.e,.f,.g,.h,.i,.j,.k,.l,.m,.n,.o,.p,.q,.r,.s,.t {
  display: flex;
  background-color: grey;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}
.e {grid-area: e;}
.f {grid-area: f;}
.g {grid-area: g;}
.h {grid-area: h;}
.i {grid-area: i;}
.j {grid-area: j;}
.k {grid-area: k;}
.l {grid-area: l;}
.m {grid-area: m;}
.n {grid-area: n;}
.o {grid-area: o;}
.p {grid-area: p;}
.q {grid-area: q;}
.r {grid-area: r;}
.s {grid-area: s;}
.t {grid-area: t;}

.color-panel{
	position: absolute;
    top: 0;
    right: 30px;
    background-color: #fff;
    height: 60px;
    padding: 15px 5px 5px 5px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 0 5px 15px 0 rgba(0,0,0,0.35);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.35);
    border-radius: 0 0 30px 30px;
}
.color-panel div {
	height: 50px;
	width: 50px;
	border-radius: 30px;
	float:left;
	margin: 5px;
}
#blue{
    background-color: #b3e5fc;
}
#red{
    background-color: #ffcdd2;
}
#yellow{
    background-color: #F6C743;
}
#green{
    background-color: #c5e1a5;
}

/* .square {
    display: flex;
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} */
/* .square {
  height: 10%;
  width: 10%;
  align-content: stretch;
  position: relative;
  background-color: blue;
} */
/* #color {
  background-color: blue;
} */
