html, body {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: white;
  line-height: 26.82px;
  top: 10px;
  padding-left: 10px;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: white;
  line-height: 18.29px;
  top: 10px;
  padding-left: 10px;
}
/* .grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: blue;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-gap: 0.25%;
} */
.grid {
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
  /* grid-template-rows: repeat(6, 1fr)); */
  background-color: blue;
  height: 100%;
  margin: 0;
  padding: 0;
  /* grid-gap: 0.25%; */
  grid-template-areas:
  "a a b b d d d d e e"
  "a a f g d d d d e e"
  "h h i i d d d d j k"
  "h h i i d d d d l m"
  "n o p p q q q q r r"
  "s t p p q q q q r r";
}
.img {
  /* object-fit: cover; */
  object-position: relative;
  z-index: 1;
  max-width: 100%;
  max-height: 100%;
}
#layer1{
    position: flex;
}
#layer2 {
    position: flex;
}
#layer1 {
    z-index: 50;
}
#layer2 {
    z-index: 55;
}
.grey {
  /* width: 197.63px;
  height: 296.44px; */
  position: absolute;
  /* background: url('элементы/Обложка карты.svg');
  background-size: auto 100% ;
  background-repeat: no-repeat;
  transition: all 4s;
  transition-delay: 1s; */
  position: relative;
  z-index: 20;
}
.color {
  /* width: 197.63px;
  height: 296.44px; */
  z-index: 1;
  position: relative;
  opacity: 0;
}
.container {
  
}
/* .grid > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr);
    grid-template-rows: repeat(6, 150px);
    background-color: blue;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-gap: 0.25%;
} */
.a {
  grid-area: a;
  display: flex;
  flex-wrap: wrap;
  background-color: #CBCBCB;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.b {
  grid-area: b;
  display: flex;
  flex-wrap: wrap;
  background-color: #807877;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
/* .c {
  grid-area: c;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
} */
.d {
  grid-area: d;
  display: flex;
  flex-wrap: wrap;
  background-color: #737170;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.e {
  grid-area: e;
  display: flex;
  flex-wrap: wrap;
  background-color: #CBCBCB;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.f {
  grid-area: f;
  display: flex;
  flex-wrap: wrap;
  background-color: #4B4241;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.g {
  grid-area: g;
  display: flex;
  flex-wrap: wrap;
  background-color: #292322;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.h {
  grid-area: h;
  display: flex;
  flex-wrap: wrap;
  background-color: #807877;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.i {
  grid-area: i;
  display: flex;
  flex-wrap: wrap;
  background-color: #CBCBCB;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.j {
  grid-area: j;
  display: flex;
  flex-wrap: wrap;
  background-color: #292322;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.k {
  grid-area: k;
  display: flex;
  flex-wrap: wrap;
  background-color: #4B4241;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.l {
  grid-area: l;
  display: flex;
  flex-wrap: wrap;
  background-color: #4B4241;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.m {
  grid-area: m;
  display: flex;
  flex-wrap: wrap;
  background-color: #807877;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.n {
  grid-area: n;
  display: flex;
  flex-wrap: wrap;
  background-color: #292322;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.o {
  grid-area: o;
  display: flex;
  flex-wrap: wrap;
  background-color: #4B4241;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.p {
  grid-area: p;
  display: flex;
  flex-wrap: wrap;
  background-color: #737170;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.q {
  grid-area: q;
  display: flex;
  flex-wrap: wrap;
  background-color: #292322;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.r {
  grid-area: r;
  display: flex;
  flex-wrap: wrap;
  background-color: #CBCBCB;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.s {
  grid-area: s;
  display: flex;
  flex-wrap: wrap;
  background-color: #4B4241;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}
.t {
  grid-area: t;
  display: flex;
  flex-wrap: wrap;
  background-color: #292322;
  /* height: 100%; */
  width: 100%;
  margin: 0;
  padding: 0;
}

/* .square {
    display: flex;
    background-color: grey;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} */
/* .square {
  height: 10%;
  width: 10%;
  align-content: stretch;
  position: relative;
  background-color: blue;
} */
/* #color {
  background-color: blue;
} */
